%table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
  %tbody
    %tr
      %td.mid.text{:style => "padding:10px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;color:#333;padding-bottom:0;font-size:15px;line-height:20px;"}= @text
    %tr
      %td{:height => "10"}
    %tr
      %td.mid.text{:style => "padding:10px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;color:#333;padding-bottom:0;font-size:15px;line-height:20px;"}
        %a.link-here{:href => @link, :style => "border:none;color:#0084b4;text-decoration:none;"}= @link
    %tr
      %td{:height => "25"}
