%head
  %title= strip_tags(@title || autotitle).truncate(50)
  = csrf_meta_tags
  - ["https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext", "https://fonts.googleapis.com/icon?family=Material+Icons", "base", "application"].each do |css_item|
    = stylesheet_link_tag css_item, media: 'all', 'data-turbolinks-track': 'reload'
